# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [2]:
s = s.split()
print(s)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
string = "The diameter of {} is {} kilometers".format(planet, diameter)
string

'The diameter of Earth is 12742 kilometers'

## 3. In this nest dictionary grab the word "hello"

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [7]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [8]:
array_ten_zeros = np.zeros(10)
print("Array of 10 zeroes is", array_ten_zeros)

Array of 10 zeroes is [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [9]:
array_ten_fives = np.ones(10) * 5
print("Array of 10 fives is", array_ten_fives)

Array of 10 fives is [5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [10]:
array_even_20_35 = [x for x in range(20, 35+1) if x % 2 ==0]
print("Array of all the even intergers from 20 to 35 is ", array_even_20_35)

Array of all the even intergers from 20 to 35 is  [20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
Matrix = np.arange(0, 9).reshape(3, 3)
print(Matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [12]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.concatenate((a, b))
print("Concatenated array is ", c)

Concatenated array is  [1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [13]:
import pandas as pd

In [14]:
DataFrame_3_2 = pd.DataFrame(data = np.random.rand(3,2), index = range(3), columns = range(2))
DataFrame_3_2.columns = ['A', 'B']
print(DataFrame_3_2)

          A         B
0  0.998207  0.390763
1  0.275497  0.766313
2  0.859192  0.078494

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [15]:
Dates_1_1_2023_to_10_2_2023 = pd.date_range(start = "1-1-2023", end = '10-2-2023')
print("Series of dates from 1st Jan, 2023 to 10th Feb, 2023 are ", Dates_1_1_2023_to_10_2_2023)

Series of dates from 1st Jan, 2023 to 10th Feb, 2023 are  DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [16]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [17]:
List_to_DataFrame = pd.DataFrame(lists, columns = ['A', 'B', 'C'])
print(List_to_DataFrame)

   A    B   C
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24